<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-bar me-auto mb-2 mb-lg-0 px-3">
          <li class="nav-item position-relative">
            <div class="point rounded-5 position-absolute"></div>
            <div class="d-flex gap-2 align-items-center">
              <img src="../../assets/images/gas-station-svgrepo-com.jpg" class="gas">
              
                  <span class="special1">2/3</span> 
                  
                  <p class="mb-0 special"> Monitored<br> Stations</p>
            </div>
        
          </li>
          <li class="nav-item position-relative ms-5">
            <div class="point rounded-5 position-absolute"></div>
            <div class="d-flex gap-2 align-items-center">
              
              <img src="../../assets/images/reload_11804328.png" class="gas">

                  <span class="special1">2/3</span> 
                  
                  <p class="mb-0 special"> last<br> Update</p>
            </div>
        
          </li>
          
        </ul>
        <div class="">
          <ul class="nav justify-content-center tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Today</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Yesterday</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Last week</a>
            </li>
            
          </ul>
        </div>
      
        <form class="d-flex gap-3">
          <div>
            <input  type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  class="form-control border-3 border-end-0 border-start-0 border-top-0" id="date" placeholder="Start date-time"/>
          </div>
          <div>
            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  class="form-control border-3 border-end-0 border-start-0 border-top-0" id="date" placeholder="End date-time"/>
          </div>
        </form>
      </div>
    </div>
  </nav>
